@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .login-btn {
        @apply rounded-full bg-white text-xs text-black;
    }
    .tableHeading {
        @apply text-[#b3b3b3] text-xs leading-4 tracking-widest text-left p-2;
    }
    .col-item {
        @apply text-white p-2;
    }
    .table-artist,
    .table-album {
        @apply text-[#b3b3b3] leading-5 hover:underline hover:text-white;
    }
    .table-artist {
        @apply text-sm;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444444;
}
input[type="range"] {
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #ff0a0a;
    background: #5e5e5e;
    border-radius: 2px;
    border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 13px;
    width: 8px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #5e5e5e;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #ff0a0a;
    background: #5e5e5e;
    border-radius: 2px;
    border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 13px;
    width: 8px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #5e5e5e;
    border: 0px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #ff0a0a;
}
input[type="range"]::-ms-fill-upper {
    background: #5e5e5e;
    border: 0px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 0px 0px #ff0a0a;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 13px;
    width: 8px;
    border-radius: 6px;
    background: #ffffff;
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #5e5e5e;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #5e5e5e;
}
