@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .login-btn {
        @apply rounded-full bg-white text-xs text-black;
    }
    .tableHeading {
        @apply text-[#b3b3b3] text-lg text-left;
    }
    .col-item {
        @apply text-white
    }
    .table-artist, .table-album{
        @apply text-[#b3b3b3] leading-5 hover:underline hover:text-white
    }
    .table-artist {
        @apply text-sm
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444444;
}
